@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
    padding-top: 5px;
    padding-bottom: 10px;
}

header {
    background-color: #219EBC;
}

nav {
    text-align: center;
}
nav a {
    text-align: center;
    color: #FFB703;
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:hover {
    background-color: #8ECAE6;
    color: #FFB703;
}

#hero {
    width: 100%;
    text-align: center;
    margin: auto auto;
}

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 3em;
}

#hero-msg h4 {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2em
}

.home-title {
    color: #ffd000;
}

h4 {
    color: #ffd000;
    font-family: 'Roboto Mono', sans-serif;
    
}

.button-box {
    text-align: center;
}

.book {
    background-color: #8ECAE6;
    color: #ffd000;
    text-decoration: none;
    padding: 15px 30px;
}

.book:hover {
    background-color: #00ccff;
    color: #ffd000;
}

main section {
    text-align: center;
}

.rivers-card .card-img {
    /* No specific styles for this class */
}

.icon {
    width: 100px;
    color: #ffd000;
    padding: 35px;
}

.camping-card .card-img {
    /* No specific styles for this class */
}

.rapids-card .card-img {
    /* No specific styles for this class */
}

#background {
    height: 725px;
    background-color: #8ECAE6;
}

.mountains {
    margin: 100px;
}

.msg {
    background-color: #4080a0;
    padding: 35px;
}
h2 {
    color: #ffd000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2em;
    background-color: #00aeff;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}
.msg h2 {
    color: #ffd000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3em;
    padding: 10px;
}

.msg p {
    color: #ffd000;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    padding-bottom: 10px;
}

.join {
    background-color: #8ECAE6;
    color: #ffd000;
    text-decoration: none;
    font-size: 2em;
    padding: 0px 30px;
}

.join:hover {
    background-color: #FFB703;
    color: #ffd000;
}

footer {
    background-color: #219EBC;
    color: #ffd000;
    padding: 25px 50px;
}

footer a {
    color: #ffd000;
    text-decoration: none;
}


footer p {
    font-size: 1em;
}

footer p:hover {
    text-decoration: underline;
}

body {
    background-color: #8ECAE6;
    font-family: 'Roboto Mono', sans-serif ;
    margin: 0;
    padding: 0;
}

.social img {
   padding-top: 15px;
}