.gridbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
<<<<<<< HEAD
.img{
    grid-column: 1/2;
}
.tart{
    justify-items: center;
    justify-items: center;
    text-align: center;
    position: absolute;
    left: 600px;
    font-size: 10em;
}
.gray{
    background-color: gray;
    grid-column: 2/3;
}
.charries{
    position:absolute;
    left: 1200px;
    bottom: 300px;
    font-size: 8em;
    grid-column: 2/3;
    color: rgb(175, 0, 0);
=======
#circles {
    width: 100%;
    border-radius: 50%;
}

.bottom img {
    height: auto; /* Maintain aspect ratio */
    margin: 40px; /* Adds spacing between images */
    border-radius: 50%;
    padding: 20px;
    width: 300px;
    background-color: rgb(78, 78, 78);
>>>>>>> fe14234038c3442c7f4c5428f2184d063e37e987
}