body {
    background-color: black;
    max-width: 1920px;
}
#content {
    text-align: center;
    border-radius: 5px;
    background-color: white;
    max-width: 300px;
    margin-inline-start: 50%;
    border-radius: 10%;
}
h1 {
    color: rgba(71, 167, 167, 0.911);
    font-size: small;
}
p {
    color: gray;
    padding: 10%;
    text-align: center;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:rgb(63, 91, 139);
    border: 10px;
    border-color: aliceblue;
    
}
#one {
    grid-column: 1/2;
    border: 10px;
    border-color: aliceblue;
}
#two {
    grid-column: 2/3;
    border: 10px;
    border-color: aliceblue;
}
#three {
    grid-column: 3/4;
    border: 10px;
    border-color: aliceblue;
}