* {
    text-align: center;
    background-color: rgb(107, 154, 255);
}
h1 {
    color: white;
}
p {
    color: white;
}
h3 {
    color: white;
}
h4 {
    text-align: left;
    width: 300px;
    padding: 0px;
    left: 38%;
    position: relative;
}
h2 {
    color: white;
    width:300px;
    left: 38%;
    position: relative;
}